@import 'src/styles/variables';
@import 'src/styles/mixins';

.auth {
    height: 100%;
}

.row {
    @include makeFlex();
}

.column {
    height: 80%;
    padding: 90px 20px 40px;
    display: flex;
    align-items: center;
}

.text {
    width: 50%;
    padding: 10px;
}

.title {
    color: $color-purple-primary;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.description {
    font-size: 28px;
    line-height: 32px;
}
