// Colors
$color-purple-primary: #CB9AE1;
$color-purple-primary-hover: #EEACFF;
$color-purple-secondary: #6498E1;
$color-purple-secondary-hover: #71ACFF;
$color-gray-background: #F4F4F4;
$color-gray-inputs: #DFDFDF;
$color-black: #000;
$color-error: #E72747;