@import "src/styles/variables";
@import "src/styles/mixins";

.reply {
    align-items: center;

    @include makeListItem();
}

.tender {
    font-size: 22px;
    font-weight: 600;

    margin-bottom: 10px;
}

.tender a {
    color: inherit;
}

.tender a:hover {
    text-decoration: underline;
}

.status {
    font-size: 18px;
}
