@import "src/styles/variables";
@import "src/styles/mixins";

.header {
    padding: 10px;
    background-color: $color-blue-primary;
    box-shadow: 0 2px 7px $color-blue-primary;
}

.inner {
    @include makeFlex();

    height: 50px;
}

.logo {
    @include makeFlex();
    color: #fff;

    & a {
        margin-left: 8px;
        color: #fff;
    }
}

.navigation {
    margin-right: 50px;
}

.navigation button {
    width: 120px;
}

.navigation a {
    font-size: 17px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.navigation__item {
    padding: 7px 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: $color-blue-primary;

    transition: background-color 0.3s linear,
                color 0.4s linear;
}

.navigation__item a {
    padding: 0 20px;
    transition: color 0.2s linear;
}

.navigation__item:hover {
    //background-color: $color-gray-background;
    background-color: #EEACFF;
}

.navigation__item:hover a {
    //color: $color-black;
}
