.footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #CB9AE1;
    background-color: #F4F4F4;
}

.inner {
    height: 50px;
    line-height: 50px;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__links li a {
    color: #CB9AE1;
}

.footer__links li a:hover {
    text-decoration: underline;
}
