@import "src/styles/variables";

.formControl {
    display: flex;
    position: relative;
}

.formControl input {
    display: block;
    width: 100%;

    font-size: 17px;

    padding: 14px 16px;
    margin-bottom: 10px;
    border-radius: 20px;

    border: 2px solid $color-gray-inputs;
}
.formControl input:focus {
    border: 2px solid $color-purple-primary;
}

.formControl textarea {
    display: block;
    height: 250px;
    width: 100%;

    margin-bottom: 12px;
    padding: 14px 16px;

    border-radius: 20px;
    border: 2px solid $color-gray-inputs;

    font-size: 17px;
    resize: none;
}

.formControl textarea:focus {
    border: 2px solid $color-purple-primary;
}

/* Handle error */
.error input,
.error textarea {
    border-color: $color-error;
}

.errorMessage {
    position: absolute;
    top: 18px;
    left: -155px;
    z-index: 1;

    font-size: 17px;
    font-weight: 500;
    color: $color-error;
}
