.form {
    border: 2px solid #999;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 50%;
}

.error__text {
    padding: 10px;
    font-size: 17px;
    color: indianred;
    font-weight: 500;
}
