@import "src/styles/mixins";

.form {
    border: 2px solid #999;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
}

.error__text {
    padding: 10px;
    font-size: 17px;
    color: indianred;
    font-weight: 500;
}

.form {
    margin-top: 40px;
}

.form input {
    padding: 14px 16px;
}

.buttons {
    @include makeFlex();

    width: 36%;

    margin-top: 20px;
}
