.description {
    padding: 30px 0 55px;
    background-color: #f4f4f4;
}

.description__inner {
    display: flex;
}

.image {
    margin-right: 40px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descr li {
    margin-bottom: 15px;
}

.descr li:last-child {
    margin-bottom: 0;
}