.inner {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
}

.image img {
  width: 52%;
  height: 100%;
}

.title {
  margin: 40px 0 30px;
}

.description {
  font-size: 17px;

  margin-bottom: 30px;
}